[submodule "localization/velodyne"]
	path = localization/velodyne
	url = https://github.com/ros-drivers/velodyne
[submodule "localization/rtabmap_ros"]
	path = localization/rtabmap_ros
	url = https://github.com/introlab/rtabmap_ros
[submodule "localization/rtabmap"]
	path = localization/rtabmap
	url = https://github.com/introlab/rtabmap.git
[submodule "perception/yolov8_ros"]
	path = perception/yolov8_ros
	url = https://github.com/mgonzs13/yolov8_ros
[submodule "perception/depthai-ros"]
	path = perception/depthai-ros
	url = https://github.com/luxonis/depthai-ros
[submodule "action/serial"]
	path = action/serial
	url = https://github.com/cottsay/serial.git
[submodule "action/diffdrive_arduino"]
	path = action/diffdrive_arduino
	url = https://github.com/joshnewans/diffdrive_arduino
