[submodule "localization/velodyne"]
	path = localization/velodyne
	url = https://github.com/ros-drivers/velodyne
[submodule "localization/rtabmap_ros"]
	path = localization/rtabmap_ros
	url = https://github.com/introlab/rtabmap_ros
[submodule "localization/rtabmap"]
	path = localization/rtabmap
	url = https://github.com/introlab/rtabmap.git
[submodule "perception/yolov8_ros"]
	path = perception/yolov8_ros
	url = https://github.com/mgonzs13/yolov8_ros
[submodule "perception/depthai-ros"]
	path = perception/depthai-ros
	url = https://github.com/luxonis/depthai-ros
[submodule "simulation/rmf_demos"]
	path = simulation/rmf_demos
	url = https://github.com/open-rmf/rmf_demos.git
[submodule "navigation/free_fleet"]
	path = navigation/free_fleet
	url = https://github.com/open-rmf/free_fleet
[submodule "localization/aruco_ros"]
	path = localization/aruco_ros
	url = https://github.com/pal-robotics/aruco_ros.git
